# TODO: set your Google Gemini API key from Google AI Studio
GOOGLE_API_KEY=

# TODO: set your LangSmith API key
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=compliance-qa

APP_ENV=development
